* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Rajdhani, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
}

.mobile {
    display: none;
}


/* navigation */
header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.main-page {
    position: relative;
    top: 64px;
}

.content {
    height: 64px;
    margin: 0 24px;
}

.content .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 7px;
}

.desktop .logo {
    display: flex;
    height: 32px;
    align-items: center;
}

.logo span {
    font-weight: bold;
}

.logo p {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 1.25em;
}

.desktop ul {
    display: flex;
    list-style-type: none;
}

.desktop li {
    margin-left: 16px;
    color: black;
    transition-property: border-bottom;
}

.desktop li:hover {
    border-bottom: 2px solid seagreen;
}


@media only screen and (max-width: 600px) {
    .content .desktop {
        display: none;
    }

    .content .mobile {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 16px;
    }
}


/* thesis exhibit */

.thesis_exhibit {
    margin: 32px 0px;
}

.container_A {
    display: flex;
}

.container_B1 {
    width: 60%;
    margin: 0px 24px;
}

.container_C1 video {
    width: 100%;
    height: auto;
}

.container_B2 {
    width: 40%;
}

.container_C2 {
    display: flex;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.container_C2:hover {
    background-color: lightgrey;
}

.container_D1 {
    width: 35%;
    margin: 16px;
}

.container_D1 img {
    width: 100%;
    height: auto;
}

.container_D2 {
    width: 65%;
    margin: 16px 0px;
}

@media only screen and (max-width: 600px) {
    .thesis_exhibit {
        display: none;
    }

    .thesis-mob .mobile {
        display: block;
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .thesis-mob h4 {
        margin-bottom: 16px;
    }
}



/* Articles */
.container_C1 img {
    width: 100%;
    height: auto;
}

.articles .container_D2 p {
    margin-bottom: 8px;
}

.second {
    border-top: 3px double lightgrey;
    border-bottom: 3px double lightgrey;
}

.right {
    border-left: 1px solid lightgrey;
    padding: 32px 0;
}

.left {
    padding: 32px 0;
}

@media only screen and (max-width: 600px) {
    .articles .container_A {
        display: none;
    }

    .articles .mobile {
        display: block;
        padding: 16px 16px 32px 16px;
        border-bottom: 1px solid lightgrey;
    }

    .container-mob .container_D2 {
        margin: 16px 0px 0px 16px;
    }

    .mobile .střed {
        margin: 64px 0px;
    }
}



/* Start */
.start_section {
    background-color: lightgrey;
    padding: 32px 0px;
}

.start_section .button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    transition: opacity 250ms ease-in,
    letter-spacing 250ms ease-out,
    word-spacing 250ms ease-out,
    background-color 250ms ease-in;
    width: 60%;
}

.start_section .button:hover {
    opacity: 0.8;
    letter-spacing: 0.3em;
    word-spacing: 0.3em;
    background-color: seagreen;
}

.start_section .button a {
    color: white;
}

.uvod {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .start_section {
        padding: 0;
    }

    .start_section .container_A {
        display: none;
    }

    .start_section .mobile {
        display: block;
        width: 100%;
    }

    .start_section .mobile .text_mob {
        padding: 32px 16px;
    }

    .text_mob .button {
        width: 100%;
    }

    .text_mob h2 {
        margin-top: 32px;
        margin-bottom: 24px;
    }
}




/* footer */
footer {
    display: flex;
    align-items: flex-start;
    padding: 16px 24px;
    border-top: 1px solid lightgrey;
    margin-bottom: 16px;
}

footer p {
    flex-grow: 1;
}

footer a {
    margin-left: 16px;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 16px;
        margin: 0px;
        border-top: none;
    }

    footer a {
        display: none;
    }
}




/* Learning */
.learning {
    padding: 32px 72px 0px 72px;
    background-color: lightgrey;
}

.container_1 {
    display: flex;
    flex-wrap: wrap;
}

.container_2 {
    background-color: white;
    margin-bottom: 32px;
    flex: 1 0 30%;
    transition-property: background-color;
    transition-duration: 250ms;

    transition: opacity 250ms ease-in,
    background-color 250ms ease-in;
}

.container_2:hover {
    background-color: seagreen;
    opacity: 0.8;
}

.container_2 img {
    width: 100%;
    height: auto;
}

.middle {
    margin-right: 32px;
    margin-left: 32px;
}

.text-box {
    margin: 16px 16px 24px 16px;
}

.kurzy {
    margin-bottom: 8px;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .learning {
        display: none;
    }

    .learning-mob .mobile {
        display: block;
        padding: 32px 16px;
        border-bottom: 1px solid lightgrey;
    }

    .learning-mob h4 {
        margin-bottom: 16px;
    }

    .learning-mob .tlačítko {
        padding: 16px;
        background-color: lightgrey;
        margin-bottom: 8px;
    }

    .tlačítko a {
        color: black;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .learning {
        padding-bottom: 32px;
    }

    .container_1 {
        display: block;
    }

    .container_1 .middle {
        margin: 0px 0px 32px 0px;
    }
}


/* styling textu*/

h6 {
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 8px;
}

h5 {
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 8px;
}

h4 { /* až vyladíme styling textu, tak ID přemazat na targeting <h4>*/
    margin-top: 0px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 1.75rem;
}

h3 {
    font-size: 1.8rem;
    margin-top: 32px;
    margin-bottom: 24px;
}

h2 {
    font-weight: normal;
    margin: 22px 0px;
}

h1 {
    font-size: 2.5rem;
    margin: 0px;
}
