* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
}



/* navigation */

nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 24px;
}

nav .logo {
    display: flex;
    align-items: center;
    height: 32px;
}

.logo p {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 1.25em;
}

.logo span {
    font-weight: bold;
}

nav li {
    display: inline-block;
    color: black;
    margin-left: 16px;
}



/* thesis exhibit */

.thesis_exhibit {
    margin: 32px 0px;
}

.container_A {
    display: flex;
}

.container_B1 {
    width: 60%;
    margin: 0px 24px;
}

.container_C1 video {
    width: 100%;
    height: auto;
}

.container_B2 {
    width: 40%;
}

.container_C2 {
    display: flex;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.container_C2:hover {
    background-color: lightgrey;
}

.container_D1 {
    width: 35%;
    margin: 16px;
}

.container_D1 img {
    width: 100%;
    height: auto;
}

.container_D2 {
    width: 65%;
    margin: 16px 0px;
}



/* Articles */
.container_C1 img {
    width: 100%;
    height: auto;
}

.articles .container_D2 p {
    margin-bottom: 8px;
}

.second {
    border-top: 3px double lightgrey;
    border-bottom: 3px double lightgrey;
}

.right {
    border-left: 1px solid lightgrey;
    padding: 32px 0;
}

.left {
    padding: 32px 0;
}



/* Start */
.start_section {
    background-color: lightgrey;
    padding: 32px 0px;
}

.start_section .button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    transition: opacity 250ms ease-in,
    letter-spacing 250ms ease-out,
    word-spacing 250ms ease-out;
    width: 60%;
}

.start_section .button:hover {
    opacity: 0.8;
    letter-spacing: 0.3em;
    word-spacing: 0.3em;
}

.start_section .button a {
    color: white;
}

.uvod {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* footer */
footer {
    display: flex;
    align-items: flex-start;
    padding: 16px 24px;
    border-top: 1px solid lightgrey;
    margin-bottom: 16px;
}

footer p {
    flex-grow: 1;
}

footer a {
    margin-left: 16px;
}


/* Learning */
.learning {
    padding: 32px 72px 0px 72px;
    background-color: lightgrey;
}

.container_1 {
    display: flex;
    flex-wrap: wrap;
}

.container_2 {
    background-color: white;
    margin-bottom: 32px;
    flex: 1 0 30%;
    transition-property: background-color;
    transition-duration: 250ms;
}

.container_2:hover {
    background-color: seagreen;
}

.container_2 img {
    width: 100%;
    height: auto;
}

.middle {
    margin-right: 32px;
    margin-left: 32px;
}

.text-box {
    margin: 16px 16px 24px 16px;
}

.kurzy {
    margin-bottom: 8px;
    text-transform: uppercase;
}



/* styling textu*/

h6 {
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 8px;
}

h5 {
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 8px;
}

#h4 { /* až vyladíme styling textu, tak ID přemazat na targeting <h4>*/
    margin-top: 0px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 1.75rem;
}

h3 {
    font-size: 1.8rem;
    margin-top: 32px;
    margin-bottom: 24px;
}

h2 {
    font-weight: normal;
    margin: 22px 0px;
}

h1 {
    font-size: 2.5rem;
    margin: 0px;
}
