* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.image-container {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}

.big-image {
    width: 100%;
    height: auto;
}



/* navigation */

nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 24px;
}

nav .logo {
    display: flex;
    align-items: center;
    height: 32px;
}

.logo p {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 1.25em;
}

.logo span {
    font-weight: bold;
}

nav li {
    display: inline-block;
    color: black;
    margin-left: 16px;
}




/* start */

.start {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.start .welcome-text {
    margin-left: 16px;
}

.start .button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    transition: opacity 250ms ease-in,
    letter-spacing 250ms ease-out,
    word-spacing 250ms ease-out;
}

.start .button a {
    color: white;
}

.start .button:hover {
    opacity: 0.8;
    letter-spacing: 0.3em;
    word-spacing: 0.3em;
}


/* article section */

.article-section {
    display: flex;
}

.left-side {
    width: 60%;
}

.container {
    margin: 32px 24px;
}

.container img {
    width: 100%;
    height: auto;
}

.container h3 {
    margin-bottom: 24px;
}

.right-side {
    width: 40%;
    padding: 32px 0;
    border-left: 1px solid lightgray;
}

.box {
    display: flex;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.box:hover {
    background-color: lightgray;
}

.right-side .border {
    border-top: 3px double lightgray;
    border-bottom: 3px double lightgray;
}

.box .small_picture {
    margin: 16px;
    width: 35%;
}

.box .small_picture img {
    width: 100%;
    height: auto;
}

.box .text {
    width: 65%;
}

.text h4 {
    margin-bottom: 8px;
}

.text p {
    margin: 8px 0;
}




/* courses */

.learning_section {
    background-color: lightgray;
    padding: 32px 72px;
}

.learning_section h3 {
    text-align: center;
    margin: 0;
}

.courses {
    display: flex;
    flex-wrap: wrap;
}

.course {
    background-color: white;
    width: 31.5%;
    margin-top: 32px;
    transition: background-color 500ms ease-in;
}

.course:hover {
    background-color: lightskyblue;
}

.course img {
    width: 100%;
    height: auto;
}

.course .text {
    margin: 16px 16px 24px 16px;
}

.middle {
    margin-right: 32px;
    margin-left: 32px;
}