body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation */

nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

nav .logo {
    display: flex;
    align-items: center;
    height: 32px;
}

.logo p {
    text-transform: uppercase;
}

.logo span {
    font-weight: bold;
}

nav li {
    display: inline-block;
    color: black;
    margin-left: 16px;
}

/* start */

.start {
    padding: 32px 24px;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.start .image-container {
    width: 60%;
    height: auto;
    margin-right: 24px;
}

.start img {
    width: 100%;
    height: auto;
}

.start .welcome-text {

}

.start .button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
}
